In [172]:
from datetime import datetime
import pandas as pd
import numpy as np

#### Data electricity ile de france

In [173]:
df_ele = pd.read_csv( "/home/onyxia/work/Python_Project_2A/data/RTE/data_ele-2020-2024.csv", low_memory=False)  
df_ele.head()

              Périmètre               Nature        Date Heures  Consommation
0  Auvergne-Rhône-Alpes  Données définitives  2020-01-01  00:00        8911.0
1  Auvergne-Rhône-Alpes  Données définitives  2020-01-01  00:30        8814.0
2  Auvergne-Rhône-Alpes  Données définitives  2020-01-01  01:00        8589.0
3  Auvergne-Rhône-Alpes  Données définitives  2020-01-01  01:30        8575.0
4  Auvergne-Rhône-Alpes  Données définitives  2020-01-01  02:00        8560.0

In [174]:
df_ele['Datetime'] = pd.to_datetime(
    df_ele['Date'].astype(str) + ' ' + df_ele['Heures'].astype(str),
    errors='coerce'
)

In [175]:
df_ele.head()

,Périmètre,Nature,Date,Heures,Consommation,Datetime
0,Auvergne-Rhône-Alpes,Données définitives,2020-01-01,00:00,8911.0,2020-01-01 00:00:00
1,Auvergne-Rhône-Alpes,Données définitives,2020-01-01,00:30,8814.0,2020-01-01 00:30:00
2,Auvergne-Rhône-Alpes,Données définitives,2020-01-01,01:00,8589.0,2020-01-01 01:00:00
3,Auvergne-Rhône-Alpes,Données définitives,2020-01-01,01:30,8575.0,2020-01-01 01:30:00
4,Auvergne-Rhône-Alpes,Données définitives,2020-01-01,02:00,8560.0,2020-01-01 02:00:00

In [176]:
df_ele.shape

(1052352, 6)

In [177]:
df_ele = df_ele.set_index('Datetime')
df_ele_daily = (
    df_ele.groupby("Périmètre", group_keys=False).resample('D')
           .agg({'Consommation': 'sum',
                  'Périmètre': 'first',
                 'Nature': 'first'})
           .reset_index()
)

In [178]:
df_ele_daily

        Datetime  Consommation             Périmètre               Nature
0     2020-01-01      403787.0  Auvergne-Rhône-Alpes  Données définitives
1     2020-01-02      443531.0  Auvergne-Rhône-Alpes  Données définitives
2     2020-01-03      434626.0  Auvergne-Rhône-Alpes  Données définitives
3     2020-01-04      395169.0  Auvergne-Rhône-Alpes  Données définitives
4     2020-01-05      400169.0  Auvergne-Rhône-Alpes  Données définitives
...          ...           ...                   ...                  ...
21919 2024-12-27      181429.0      Pays-de-la-Loire  Données consolidées
21920 2024-12-28      171307.0      Pays-de-la-Loire  Données consolidées
21921 2024-12-29      169980.0      Pays-de-la-Loire  Données consolidées
21922 2024-12-30      185431.0      Pays-de-la-Loire  Données consolidées
21923 2024-12-31      176371.0      Pays-de-la-Loire  Données consolidées

[21924 rows x 4 columns]

In [179]:
df_ele_daily['Périmètre'].count

<bound method Series.count of 0        Auvergne-Rhône-Alpes
1        Auvergne-Rhône-Alpes
2        Auvergne-Rhône-Alpes
3        Auvergne-Rhône-Alpes
4        Auvergne-Rhône-Alpes
                 ...
21919        Pays-de-la-Loire
21920        Pays-de-la-Loire
21921        Pays-de-la-Loire
21922        Pays-de-la-Loire
21923        Pays-de-la-Loire
Name: Périmètre, Length: 21924, dtype: object>

In [180]:
df_ele_daily.columns

Index(['Datetime', 'Consommation', 'Périmètre', 'Nature'], dtype='object')

### Data Weather

In [181]:
df_weather = pd.read_csv("/home/onyxia/work/Python_Project_2A/data/weather/Region_France_weather_daily_2020_2024.csv")
df_weather.head(2)

,date,year,month,day,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,GWETROOT,GWETTOP,PRECTOTCORR,PS,...,RH2M,T2M,T2M_MAX,T2M_MIN,T2M_RANGE,WD10M,WS10M,WS2M,insee_dep,department
0,2020-01-01,2020,1,1,5.39,6.80,0.68,0.73,0.03,96.15,...,96.11,0.81,5.26,-1.36,6.62,314.6,1.44,0.82,83,Auvergne-Rhône-Alpes
1,2020-01-02,2020,1,2,4.78,6.45,0.68,0.73,0.01,95.93,...,92.78,2.44,8.35,-0.89,9.24,200.2,3.64,2.26,83,Auvergne-Rhône-Alpes

In [182]:
df_weather.rename(columns={"date":"Datetime","department":"Regions"}, inplace=True)
df_ele_daily.rename(columns={"Périmètre":"Regions"},inplace= True)

In [183]:
df_weather.columns

Index(['Datetime', 'year', 'month', 'day', 'ALLSKY_SFC_SW_DWN',
       'CLRSKY_SFC_SW_DWN', 'GWETROOT', 'GWETTOP', 'PRECTOTCORR', 'PS', 'QV2M',
       'RH2M', 'T2M', 'T2M_MAX', 'T2M_MIN', 'T2M_RANGE', 'WD10M', 'WS10M',
       'WS2M', 'insee_dep', 'Regions'],
      dtype='object')

In [184]:
df_ele_daily.columns

Index(['Datetime', 'Consommation', 'Regions', 'Nature'], dtype='object')

### Joining data weather & data electricity by using regions and datetime

In [185]:
# Make sure both are datetime
df_weather['Datetime'] = pd.to_datetime(df_weather['Datetime'])
df_ele_daily['Datetime'] = pd.to_datetime(df_ele_daily['Datetime'])

# Merge on Datetime and Regions
df_final = pd.merge(
    df_ele_daily,
    df_weather,
    on=['Datetime', 'Regions'],
    how='inner'
)

In [186]:
df_final

,Datetime,Consommation,Regions,Nature,year,month,day,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,GWETROOT,...,QV2M,RH2M,T2M,T2M_MAX,T2M_MIN,T2M_RANGE,WD10M,WS10M,WS2M,insee_dep
0,2020-01-01,403787.0,Auvergne-Rhône-Alpes,Données définitives,2020,1,1,5.39,6.80,0.68,...,4.17,96.11,0.81,5.26,-1.36,6.62,314.6,1.44,0.82,83
1,2020-01-02,443531.0,Auvergne-Rhône-Alpes,Données définitives,2020,1,2,4.78,6.45,0.68,...,4.41,92.78,2.44,8.35,-0.89,9.24,200.2,3.64,2.26,83
2,2020-01-03,434626.0,Auvergne-Rhône-Alpes,Données définitives,2020,1,3,3.80,6.38,0.68,...,5.00,93.72,3.94,8.16,1.49,6.67,246.6,3.21,1.91,83
3,2020-01-04,395169.0,Auvergne-Rhône-Alpes,Données définitives,2020,1,4,3.91,6.99,0.68,...,4.76,94.68,3.18,5.62,-0.64,6.26,335.6,4.34,2.77,83
4,2020-01-05,400169.0,Auvergne-Rhône-Alpes,Données définitives,2020,1,5,5.85,7.13,0.67,...,3.96,93.92,0.77,4.06,-1.25,5.31,354.9,3.75,2.43,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21919,2024-12-27,181429.0,Pays-de-la-Loire,Données consolidées,2024,12,27,2.05,5.86,0.55,...,3.91,94.54,1.20,5.31,-3.47,8.78,115.8,1.72,0.97,52
21920,2024-12-28,171307.0,Pays-de-la-Loire,Données consolidées,2024,12,28,2.10,5.59,0.55,...,4.93,98.06,4.17,5.52,3.20,2.32,188.7,1.12,0.68,52
21921,2024-12-29,169980.0,Pays-de-la-Loire,Données consolidées,2024,12,29,2.32,5.64,0.55,...,4.17,93.09,2.60,4.63,0.94,3.69,72.1,1.22,0.80,52
21922,2024-12-30,185431.0,Pays-de-la-Loire,Données consolidées,2024,12,30,2.34,5.69,0.55,...,3.90,95.37,1.30,2.89,-0.17,3.06,172.1,1.81,1.14,52
21923,2024-12-31,176371.0,Pays-de-la-Loire,Données consolidées,2024,12,31,2.07,5.83,0.55,...,4.30,96.15,2.41,6.71,0.63,6.08,202.0,4.33,2.93,52